div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 5rem auto;
  width: 200px;
  height: 200px;
}

div.container > form {
  border: 2px solid #334366;
  border-radius: 10px;
  padding: 1rem;
  background-color: #339a8a;
}

div.container > form input {
  height: 32px;
  width: 300px;
  border: 2px solid #334366;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
}

div.container form .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

div.container form .btn-container > button {
  height: 40px;
  width: 300px;
  border-radius: 8px;
  background-color: #334366;
  border: 2px solid #000000;
}

div.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 3rem auto;
  width: 200px;
  height: 200px;
}
